<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzq.maintenance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.MainActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.NoticeListActivity"></activity>
        <activity android:name=".ui.NoticeActivity"></activity>
        <activity android:name=".ui.DetailActivity" />
        <activity android:name=".ui.PhotoGridShowActivity" />
        <activity android:name=".ui.PhotoViewPagerActivity" />
        <activity android:name=".ui.PhotoSelectLocalActivity" />
        <activity android:name=".ui.CheckListActivity"/>
        <activity android:name=".ui.ContractListActivity"/>
        <activity android:name=".ui.ContractActivity"/>
        <activity android:name=".ui.CheckActivity" />
        <activity android:name=".ui.ExportActivity" />
        <activity android:name=".ui.ExportListActivity" />
        <activity android:name=".ui.StakeActivity" />
        <activity android:name=".ui.AutoTimeActivity" />
        <activity android:name=".ui.AutoTimeListActivity" />
        <activity android:name=".ui.LookListActivity" />
        <activity android:name=".ui.LookActivity" />

        <receiver android:name=".core.HeartbeatReceiver"/>
        <service android:name=".core.CoreService"/>
    </application>

</manifest>